name: Build

on:
  push:
    branches: 
      - master
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      
      - name: Set up R
        uses: r-lib/actions/setup-r@v2

      - name: Install System Dependencies
        run: sudo apt-get install -y libarchive-dev libcurl4-openssl-dev
      
      - name: Cache R packages
        uses: actions/cache@v2
        with:
          path: ~/R/Library
          key: ${{ runner.os }}-r-${{ hashFiles('DESCRIPTION') }}
          restore-keys: |
            ${{ runner.os }}-r-
      
      - name: Install dependencies
        run: Rscript -e 'install.packages("shinylive")'
      
      - name: Build Site
        run: Rscript -e 'shinylive::export("src", "site")'
      
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./site
